
<div class="jumbotron">
  <h1>Credo Tutorial</h1> 
  <p>Welcome to Angular 7</p> 
</div>
<div class="jumbotron">
  <h1>Credo Tutorial</h1> 
  <p>Welcome to Angular 7</p> 
</div>
<div class="jumbotron">
  <h1>Credo Tutorial</h1> 
  <p>Welcome to Angular 7</p> 
</div>
<div class="jumbotron">
  <h1>Credo Tutorial</h1> 
  <p>Welcome to Angular 7</p> 
</div>
<div class="jumbotron">
  <h1>Credo Tutorial</h1> 
  <p>Welcome to Angular 7</p> 
</div>
<div class="jumbotron">
  <h1>Credo Tutorial</h1> 
  <p>Welcome to Angular 7</p> 
</div>
<div class="jumbotron">
  <h1>Credo Tutorial</h1> 
  <p>Welcome to Angular 7</p> 
</div>
<div class="jumbotron">
  <h1>Credo Tutorial</h1> 
  <p>Welcome to Angular 7</p> 
</div>
<div class="jumbotron">
  <h1>Credo Tutorial</h1> 
  <p>Welcome to Angular 7</p> 
</div>
<div class="jumbotron">
  <h1>Credo Tutorial</h1> 
  <p>Welcome to Angular 7</p> 
</div>
<div class="jumbotron">
  <h1>Credo Tutorial</h1> 
  <p>Welcome to Angular 7</p> 
</div>
